{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {% include "snippets/css.html" %}
    {% block head_css %} {% endblock head_css %}
    {% include "snippets/js.html" %}

    <title>{% block head_title %} {% endblock head_title %} | MyC4 </title>
  </head>
  <body>

    <div class="wrapper">
        <div class="wrapper-content">
            {% include "snippets/navbar.html" %}

            <div class="content">
              {% block content %} 
              {% endblock content %}
            </div>
        </div>
    </div>

    {% comment %} {% block content-outside-main-block %}
    {% endblock content-outside-main-block %} {% endcomment %}

    {% comment %} {% include "snippets/footer.html" %} {% endcomment %}
    {% block body_script %} {% endblock body_script %}
  </body>
</html>