{% extends "base.html" %}
{% load static %}
{% load c4_tags %}

{% block head_title %}Game{% endblock head_title %}

{% block head_import %}
    <script src="{% static 'js/script_c4.js' %}"></script>
{% endblock head_import %}


{% block content %}
{% csrf_token %}

<div class="container">
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        
        <!-- Game detail title -->
        <div class="game-detail-title text-center mt-3">
            Game #{{game.pk}}: <span class='game-detail-title-player-1'>{{game.player_1.username}}</span> vs <span class='game-detail-title-player-2'>{{game.player_2.username}}</span>
        </div>

        <!-- Game detail player's move -->
        <div class="game-detail-move text-center mt-2">
            {% if game.winner %}
                {% if game.winner == request.user %}
                    You won
                {% else %}
                    You lost
                {% endif %}
            {% elif game.moves_number == MAX_MOVES_NUMBER %}
                Draw
            {% elif game.end_datetime%}
                Game wasn't accepted
            {% elif not game.is_accepted %}
                Waiting to accept
            {% else %}  
                {{turn_username}} turn
            {% endif %}
        </div>

        <!-- Game replay button -->
        <div class="game-detail-replay text-center">
            {% if game.end_datetime and game.is_accepted %}
                <button type="button" 
                    class="btn game-detail-replay-btn mt-2 py-0 px-4"
                    game_pk="{{game.pk}}"
                    accept="1"
                    onclick="replayGameHandler(this)">Replay</button>
            {% endif %}
        </div>

        <!-- Game map -->
        {% with ended_game_class=game|get_disabled_game_class %}
            <div class="{{'game-detail-map text-center mt-4 pt-2'|change_class:ended_game_class}}">
        {% endwith %}
            <div class="table-responsive">
            <table class="table table-c4">

            <tbody>
                {% for i in rows %}
                    <tr>
                        {% for j in columns  %}
                        <td class='map-cell'>
                            {% with cell_value=map|my_index:i|my_index:j %}
                                <div 
                                    class="{{'map-item py-4 player-'|change_class:cell_value}}"
                                    style="cursor: pointer;"
                                    name="{{i|add:1}}{{j|add:1}}"
                                    y="{{i|add:1}}"
                                    x="{{j|add:1}}"
                                    onclick='cellHandler(this)'
                                >
                            {% endwith %}
                                <p></p>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>
        </div>

        <!-- Game map info-->
        <div class="game-detail-map-info mt-1">
            <div class="row">

                <!-- Player 1 info -->
                <div class="col-4 text-center">
                    <div class="game-detail-player">
                        {{game.player_1.username}}
                    </div>
                    <div class="game-detail-player1-color w-50 mx-auto">
                        <table class="table table-borderless">
                        <tbody> 
                        <tr>
                            <td class='map-cell'>
                            {% with player_1_endgame_class=game|get_player_ended_game_class:game.player_1 %}
                                <div class="{{'map-item-player1 py-4 mx-2'|change_class:player_1_endgame_class}}">
                            {% endwith %}
                                    <p></p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                </div>

                <!-- Game duration -->
                <div class="col-4 text-center">
                    <div class="game-duration-title">
                        Duration
                    </div>
                    <div class="game-duration-time pt-3">
                        {% if game.end_datetime %}
                            From {{game.start_datetime|date:"M j"}},
                            {{game.start_datetime|time:"H:i"}} 
                            </br> to {{game.end_datetime|date:"M j"}},
                            {{game.end_datetime|time:"H:i"}} 
                        {% elif not game.is_accepted %}
                            Not yet started
                        {% else %}
                            {{game.start_datetime|date:"F d, Y"}}
                            {{game.start_datetime|time:"H:i:s"}}
                        {% endif %}
                    </div>
                </div>

                <!-- Player 2 info -->
                <div class="col-4 text-center">
                    <div class="game-detail-player">
                        {{game.player_2.username}}
                    </div>
                    <div class="game-detail-player1-color w-50 mx-auto">
                        <table class="table table-borderless">
                        <tbody> 
                        <tr>
                            <td class='map-cell'>
                            {% with player_2_endgame_class=game|get_player_ended_game_class:game.player_2 %}
                                <div class="{{'map-item-player2 py-4 mx-2'|change_class:player_2_endgame_class}}">
                            {% endwith %}
                                    <p></p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}

{% comment %} {% with map_i=forloop.parentloop.counter0 map_j=forloop.counter0 %}
    <p>{{ map|my_index:map_i|my_index:map_j}}</p>
{% endwith %} {% endcomment %}

{% comment %} """
from django.contrib.auth.models import User
from c4.models import Game, Step
user1 = User.objects.get(username='sapa')
user2 = User.objects.get(username='user2')
game = Game.objects.all().first()
 
    from datetime import datetime
    game = Game(player_1=user1, player_2=user2, start_datetime=datetime.now())
    game.save()

step1 = Step(game=game, user=user1, x=3, y=6)
step2 = Step(game=game, user=user2, x=4, y=6)
step3 = Step(game=game, user=user1, x=3, y=5)
step1.save()
step2.save()
step3.save()
""" {% endcomment %}
