{% extends "base.html" %}
{% load static %}
{% load c4_tags %}


{% block head_title %}New Game{% endblock head_title %}


{% block head_import %}
    <script src="{% static 'js/script_c4_new_game.js' %}"></script>
{% endblock head_import %}


{% block content %}
{% csrf_token %}

<div class="container">
<div class="row">
    <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">

        <!-- New game title -->
        <div class='new-game-title text-center mt-5'>
            Players to play with
        </div>

        <!-- Search form -->
        <div class='new-game-search pl-5 pt-4'>
            <div class="row">
                <div class="col-11 col-sm-12">
                    <form method='GET' action="." class="form-inline m-2 my-lg-0">
                        <input class="form-control new-game-search-input mr-sm-2" type="search" placeholder="Search player" name='q' value="{{request.GET.q}}" aria-label="Search">
                        <button class="btn new-game-search-btn my-2 my-sm-0" type="submit">Search</button>
                        <input type='hidden' name='page' value="{{1}}" />
                    </form>
                </div>
            </div>
        </div>

        <!-- Players to play with -->
        <div class='new-game-users mt-3'>

            {% if not users %}
                <div class="new-game-users-empty text-center mt-4 pt-2 mb-4">
                    No users found
                </div>
            {% endif %}

            {% for user in users  %}
                <div class='new-game-user px-4 py-3 mb-2 mx-5'>
                <div class='row'>
                    <div class='col-12 col-sm-4 col-lg-6 text-center text-sm-left'>
                        <div class='new-game-user-title'>
                            {{user.username}}
                        </div>
                    </div>
                    <div class='col-12 col-sm-8 col-lg-6'>
                        {% if request.user|is_game_with_false_accepted_exist:user%}
                            <button type="button" 
                            class="btn py-2 w-100 new-game-user-btn-sent"
                            user="{{user.username}}" onclick="requestNewGameHandler(this)"
                            disabled="True">Request sent. Check your history</button>
                        {% else %}
                        <button type="button" 
                            class="btn py-2 w-100 new-game-user-btn"
                            user="{{user.username}}" onclick="requestNewGameHandler(this)">Send request to play</button>
                        {% endif %}
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        <!-- //TODO - responsive pagination menu-->
        <div class="pagination new-game-pagination justify-content-center mt-4">
            <span class="step-links text-center">
            <form method='GET' action="." class="pagination-form">

                <input type='hidden' name='q' value="{{request.GET.q}}"/>

                {% if page_obj.has_previous %}
                    <button 
                        class='new-game-page-btn px-2' name='page'
                        value="1" type='submit'>&laquo; first
                    </button>
                    <button 
                        class='new-game-page-btn px-2' name='page'
                        value="{{ page_obj.previous_page_number }}"
                        type='submit'>&lsaquo; prev
                    </button>
                {% else %}
                    <button 
                        class='new-game-page-btn-disabled px-2' name='page' type='submit'>&laquo; first
                    </button>
                    <button 
                        class='new-game-page-btn-disabled px-2' name='page' type='submit'>&lsaquo; prev
                    </button>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <button class='new-game-page-btn px-2' name='page'
                        value="{{page_obj.next_page_number}}" type='submit'>next &rsaquo;
                    </button>
                    <button class='new-game-page-btn px-2' name='page'
                        value="{{ page_obj.paginator.num_pages }}"
                        type='submit'>last &raquo;
                    </button>
                {% else %}
                    <button class='new-game-page-btn-disabled px-2'     
                        name='page' type='submit'>next &rsaquo;
                    </button>
                    <button class='new-game-page-btn-disabled px-2' 
                        name='page' type='submit'>last &raquo;
                    </button>
                {% endif %}

            </form>
            </span>
        </div>

    </div>
</div>
</div>

{% endblock content %}
