{% extends "base.html" %}

{% block head_title %} Rules {% endblock head_title %}


{% block content %}

<div class='container-fluid'>
<div class='container'>
<div class='row'>
<div class="col-lg-12">

    <!-- Title -->
    <div class="rules-title mt-5 pt-5 w-100 w-lg-50 text-left">
        My Connect 4: Rules
    </div>

    <!-- Description -->
    <div class="rules-description mt-4 text-justify">

        <!-- General game description -->
        <div class="rules-description-title"> General</div>
        <div class="mt-2">
            <b>Connect Four</b> (also known as Four Up, Plot Four, Find Four, Four in a Row, Four in a Line, Drop Four, and Gravitrips) - is a two-player connection game in which the players first choose a color and then take turns dropping one colored disc from the top into a seven-column, six-row vertically suspended grid. </br>

            The pieces fall straight down, occupying the <b>lowest available space</b> within the column. </br>

            The <b>objective</b> of the game is to be the first to form a horizontal, vertical, or diagonal <b>line of four</b> of one's own discs. The first player can always win by playing the right moves.
        </div>

        <!-- Game rules variations -->
        <div class="rules-description-title mt-4">Rule variations</div>
        <div class='mt-2'>
            There are many variations of <b>Connect Four</b> with differing game board sizes, game pieces, and/or gameplay rules. Many variations are popular with game theory and artificial intelligence research, rather than with physical game boards and gameplay by persons. </br>

            The most commonly used Connect Four board size is <b>7 columns × 6 rows</b>. Size variations include 5×4, 6×5, 8×7, 9×7, 10×7, 8×8, Infinite Connect-Four, and Cylinder-Infinite Connect-Four.   </br>

            Several versions of Hasbro's Connect Four physical gameboard make it easy to remove game pieces from the bottom one at a time. Along with traditional gameplay, this feature allows for variations of the game. Some earlier game versions also included specially marked discs, and cardboard column extenders, for additional variations to the game.
        </div>
    </div>

</div>
</div>
</div>
</div>

{% endblock content %}