<nav class="navbar navbar-expand-sm navbar-light">
    <div class='container navbar-c4'>

    <!-- In future logo -->
    <a class="navbar-brand" href="{% url 'c4:home' %}">MyC4</a>
    <button 
        class="navbar-toggler" type="button" 
        data-toggle="collapse" 
        data-target="#c4Navbar" 
        aria-controls="c4Navbar" 
        aria-expanded="false" aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="c4Navbar">
        <ul class="navbar-nav ml-auto">

            <!-- Home link -->
            <li class="nav-item ml-1 ml-lg-2 pl-lg-4 text-center pb-1">
                <a class="nav-link c4-nav-link" href="{% url 'c4:home' %}">Home <span class="sr-only">(current)</span></a>
            </li>

            <!-- New game link -->
            <li class="nav-item ml-1 ml-lg-2 pl-lg-4 text-center pb-1">
                {% if request.user.is_authenticated %}    
                    <a class="nav-link c4-nav-link" href="{% url 'c4:new-game' %}">New Game</a>
                {% else %}
                    <a class="nav-link c4-nav-link disabled" href="#">New Game</a>
                {% endif %}
            </li>

            <!-- My history link -->
            <li class="nav-item ml-1 ml-lg-2 pl-lg-4 text-center pb-1">
                <a class="nav-link c4-nav-link" href="{% url 'c4:history' %}">My History</a>
            </li>

            <!-- Game rules link -->
            <li class="nav-item ml-1 ml-lg-2 pl-lg-4 text-center pb-1">
                <a class="nav-link c4-nav-link" href="{% url 'c4:rules' %}">Rules</a>
            </li>

            <!-- Log out / Sign up and Log in -->
            {% if request.user.is_authenticated %}
                <li class="nav-item ml-1 ml-lg-2 pl-lg-4 text-center pb-1">
                    <a class="nav-link c4-nav-link-disabled">I'm {{request.user.username}}</a>
                </li>
                <li class="nav-item ml-1 ml-lg-2 pl-lg-4 text-center pb-1">
                    <a type='button' class="nav-link c4-nav-link c4-nav-btn" href="{% url 'auth:logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item ml-1 ml-lg-2 pl-lg-4 text-center pb-1">
                    <a type='button' class="nav-link c4-nav-link c4-nav-btn" href="{% url 'auth:signup' %}">Sign Up</a>
                </li>
                <li class="nav-item ml-1 ml-lg-2 pl-lg-4 text-center pb-1">
                    <a type='button' class="nav-link c4-nav-link c4-nav-btn" href="{% url 'auth:login' %}">Log In</a>
                </li>
            {% endif %}

        </ul>
    </div>

    </div>
</nav>

<!-- Profile -->